{% extends "accounts/mypage_base.html" %}

{% block title %}reply_list{% endblock %}
{% load staticfiles %}
{% block mypage %}
<!-- siedmenu -->
	<!-- <div class="container">
	    <div class="row"> -->
	        
	        <div class="col-md-9 well" style="background-color: #fff;">
	            <!-- <div class="container"> -->
	            <table class="table table-hover">
	              <thead>
	              	<tbody>
	                <tr>
	                  <th scope="col">#</th>
	                  <th scope="col">클래스명</th>
	                  <th scope="col">강사명</th>
	                  <th scope="col">작성일자</th>
	                </tr>
	            	</tbody>
	              </thead>
	              <tbody>
	                <tr>
	                  <th scope="row">4</th>
	                  <td>한강에서 보드 탈 사람~</td>
	                  <td>HOBBYIST</td>
	                  <td>2018-05-11</td>
	                </tr>
	                <tr>
	                  <th scope="row">3</th>
	                  <td><a href="classdetail.html">빵! 사먹지 말고 만들어 먹어요</a></td>
	                  <td><a href="introTT.html">이채린</a></td>
	                  <td>2018-05-10</td>
	                </tr>
	                <tr>
	                  <th scope="row">2</th>
	                  <td>심신안정 요가 수업</td> 
	                  <td>HOBBYIST</td>
	                  <td>2018-05-05</td>
	                </tr>
	                <tr>
	                  <th scope="row">1</th>
	                  <td>어푸어푸 생존 수영 배우기</td>
	                  <td>HOBBYIST</td>
	                  <td>2018-05-01</td>
	                </tr>
	              </tbody>
	            </table>
	            <div class="text-center">
	            	<ul class="pagination">
	            		<li><a href="#">1</a></li>
	            		<li><a href="#">2</a></li>
	            		<li><a href="#">3</a></li>
	            	</ul>
	            </div>
	            </div>
	        </div> 
			
	    </div>
	</div>
{% endblock %}