{% extends "accounts/mypage_base.html" %}

{% block title %}qna_change_list{% endblock %}

{% block mypage %}
	
<!-- siedmenu -->
	<!-- <div class="container">
	    <div class="row"> -->
	        
	        <div class="col-md-10 well" style="background-color: #fff;">
	            <!-- <div class="container"> -->
	            <table class="table table-hover">
	              <thead>
	              	<tbody>
	                <tr>
	                  <th scope="col">제목</th>
                  <th scope="col">작성일자</th>
                  <th scope="col">수정일자</th>
                  <th scope="col">작성자</th>
                  <th scope="col">수정</th>
                  <th scope="col">삭제</th>
	                </tr>
	            	</tbody>
	              </thead>
	              {% for item in object_list %}
              <tbody>
                <tr>
                  <th scope="row">{{ item.title }}</th>
                  <td>{{ item.createdate|date:"Y년 N d일" }}</td>
                  <td>{{ item.modifydate|date:"Y년 N d일" }}</td>
                  <td>{{ item.owner }}</td>
                  <td><a href="{% url 'qna:update' item.id %}">수정</a></td>
                  <td><a href="{% url 'qna:delete' item.id %}">삭제</a></td>
                </tr>
              </tbody>
              {% endfor %}
	            </table>
	            <div class="text-center">
									{% if is_paginated %}
									<ul class="pagination" style="display: inline-block">
										{% if page_obj.has_previous %}
											<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
										{% else %}
											<li class="disabled"><span>&laquo;</span></li>
										{% endif %}
										{% for i in paginator.page_range %}
											{% if page_obj.number == i %}
												<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
											{% else %}
												<li><a href="?page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endfor %}
										{% if page_obj.has_next %}
											<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
										{% else %}
											<li class="disabled"><span>&raquo;</span></li>
										{% endif %}
									</ul>
									{% endif %}
									</div>
	            </div>
	        </div> 
			
	    </div>
	</div>
{% endblock %}
