<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}hobbyist main{% endblock %}</title>

{% load staticfiles %}
      
    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href='{% static "vendor/fontawesome-free/css/all.min.css" %}'> 
    <link href='{% static "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %}' rel="stylesheet" id="bootstrap-css">
    <link href='{% static "//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" %}' rel="stylesheet" id="bootstrap-css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "vendor/magnific-popup/magnific-popup.css" %}'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href='{% static "css/creative.min.css" %}'>

    <style type="text/css">
   .dropdown-menu{
    border: 0px;
   }
   /*a.dropdown-toggle{
    color: #f8f9fa!important;
   }*/
    ul.nav-item.dropdown-menu.show{
      background-color: transparent;
      left: 15px;
      
    }
    /*ul.nav-item.dropdown-toggle{
      padding-top: 20px;              #000000
    }*/ 
    ul.nav-item.dropdown-menu>li>a{
      color: black;
    }
  ul.nav-item.dropdown-menu>li>a:hover{
    color: #ffaaaa;
    text-decoration: none;
  }
  /*li.nav-item.dropdown>a.dropdown-toggle{
    color: #f8f9fa;
  }*/
    li.nav-item.dropdown>a.dropdown-toggle:hover{
    text-decoration: none;
    }
   </style>
   <style type="text/css">
    #mainNav .navbar-nav > li.dropdown > a.dropdown-toggle, #mainNav .navbar-nav > li.dropdown > a.dropdown-toggle:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
      /*color: black;*/
      font-size: 15px;
      font-weight: bold;
      font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    }
    #dropdown-toggle:hover {
      color: #ffaaaa;
    }
    header.masthead h1 {
    font-size: 4rem;
    /*color: black;*/
    }
    ul li.nav-item .nav-link js-scroll-trigger:hover{
      color: #ffaaaa;
    }

  </style>

  <style type="text/css">
    header.masthead {
      background-image: url("{% static '/img/header.jpg' %}");

    }
    #text-faded {
      color: white;
    }
  </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img src="{% static 'img/logo.gif' %}" style="height: 55px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">CATEGORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
              
              
            <li class="nav-item dropdown" style="padding-top: 6.5px;">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #ffaaaa;">Join <b class="caret"></b></a>
              <ul class="nav-item dropdown-menu">
                {% if not user.is_active %}
                <li><a href="{% url 'accounts:login' %}?next={{request.path}}">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                {% else %}
                <li><a href="{% url 'accounts:profile' %}">My page</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                {% endif %}
              </ul>
            </li> 
              
            <!-- <li class="nav-item dropdown" style="padding-top: 6.5px;">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #f8f9fa;">Welcome <b class="caret"></b></a>
              <ul class="nav-item dropdown-menu">
                
              </ul>
            </li> -->
              

            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong style="color: white;">여러분이 좋아하고 잘하는 일은 무엇인가요?</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" id="text-faded">누구나 가르치고, 누구나 배울 수 있는 공간<br> 하비스트에서 함께 하세요</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">자세히 알아보기</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <!-- <h2 class="section-heading text-white">HOBBYIST</h2> -->
            <img src="{% static 'img/8.png' %}" id="imagepreview" style="width: 300px;"> <br>
            <hr class="light my-4">
            <p class="text-faded mb-4" style="color: black;">하비스트는 SNS나 개인 홈페이지를 통해 확인할 수 있는
원데이 클래스를 모아서 <br>분야별로 쉽게 보여주는 사이트입니다.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'sitemap' %}">사이트맵</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">당신도 할 수 있습니다!</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a style="color: #000000;" href="{% url 'lecturer:new' %}">
              <i class="fas fa-4x fa-address-card text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">강사 신청</h3></a>
              <p class="text-muted mb-0">누군가의 선생님이 되어보는 건 어떠세요?</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a style="color: #000000;" href="{% url 'course:add' %}">
              <i class="fas fa-4x fa-edit text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">클래스 등록</h3></a>
              <p class="text-muted mb-0">당신의 재능으로 수업을 개설하세요!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a style="color: #000000;" href="{% url 'course:index' %}">
              <i class="fas fa-4x fa-tasks text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">클래스 신청</h3></a>
              <p class="text-muted mb-0">관심있는 클래스를 찾아보세요!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/music.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/music.jpg' %}" alt="">
              <div class="portfolio-box-caption" OnClick="location.href ='/course/lfield/1/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    MUSIC
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/arts.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/art.jpg' %}" alt="">
              <div class="portfolio-box-caption" OnClick="location.href ='/course/lfield/2/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ARTS
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/sports.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/sports.jpg' %}" alt="">
              <div class="portfolio-box-caption" OnClick="location.href ='/course/lfield/3/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    SPORTS
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/food.jpg' %}#">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/food.jpg' %}" alt="">
              <div class="portfolio-box-caption" OnClick="location.href ='/course/lfield/4/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    FOOD
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/digitals.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/digital.jpg' %}" alt="">
              <div class="portfolio-box-caption" OnClick="location.href ='/course/lfield/5/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    DIGITALS
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/beauty.jpg' %}">
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/beauty.jpg' %}" alt="">
              <div class="portfolio-box-caption"  OnClick="location.href ='/course/lfield/6/'">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    BEAUTY
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">더 많은 클래스가 궁금하신가요?</h2>
        <a class="btn btn-light btn-xl sr-button" href="{% url 'course:index' %}">전체 보기</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">취미 그 이상, 하비스트(HOBBYIST)</h2>
            <hr class="my-4">
            <p class="mb-5">한양여자대학교 정보경영과 3-A 215230030 전미정 215230031 정문희 215230039 정지수</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-bullhorn fa-3x mb-3 sr-contact-1"></i>
            <p>
              <a href="{% url 'notice:index' %}">NOTICE</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-comment-dots fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="{% url 'qna:index' %}">Q & A</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src='{% static "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %}'></script>
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script> 
    <script src='{% static "vendor/scrollreveal/scrollreveal.min.js" %}'></script> 
    <script src='{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{% static "js/creative.min.js" %}'></script> 

  </body>

</html>
